/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
span.new-entry {
    color: #fff;
}

div.card-content {
    border-bottom: 2px solid black;
}
/* card boby style */

 p.time{
    border: 1px solid coral;
    border-radius: 5px;
    text-align: center;
    background-color: lightblue;
    font-size: 14px;
    font-style: italic;
    

}
/* for the added at time on bottom of card */
p.grey{
    background-color: lightgray
}
/*alternating lins color  */

header.card-header{

    background: dodgerblue;
    text-align: center;
    text-decoration: wavy;
}
/* header of the card st */
p.card-title{
    text-align: center;
}
/* input inthe haerder of card  */


div.card-content-body{
    border: 1px solid black
}
/* boby of the entries card  */
